{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}

<div class="row justify-content-center my-3">
  <div class="col-5">
    <img src="{% static 'portfolio/IMG-1095.jpg' %}" class="img-fluid">
  </div>
</div>


    <h1>I'm Patrick Durojaiye I am an Electronic and Computer engineering student. This website is to showcase my projects </h1>


<h2 class="mt-5">Portfolio</h2>
<hr>
<div class="row">
  {% for project in projects %}
  <div class="col-lg-4 col-md-6">

    {% if project.url %}
    <a href="{{ project.url }}">
      <img src="{{ project.image.url }}" class="img-fluid mb-2">
    </a>
    {% else %}

    <img src="{{ project.image.url }}" class="img-fluid mb-2">
    {% endif %}
    <h3>{{ project.title }}</h3>


    <p>{{ project.description }}</p>

  </div>
  {% endfor %}
</div>

<br>
    <p>Java</p>
    <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div><p>Intermediate</p>
</div>
    <p>C++</p>
<div class="progress">
  <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div><p>Intermediate</p>
</div>
    <p>Python</p>
<div class="progress">
  <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div><p>Beginner</p>
</div>
    <p>Django</p>
<div class="progress">
  <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div><p>Beginner</p>
</div>
<br>
<div class="row justify-content-center mb-3">
 <div class="col-md-9 text-center">
<h1 class="font-weight-bold">Get In Touch</h1>
<p>I am currently looking for any internship. My main interests are machine learning,fintech and internet of things, my inbox is always open. You can reach me on my <a href="https://www.linkedin.com/in/patrick-durojaiye-6756881a3/" target="_blank">LinkdIn</a> or you can email me at <a href="mailto:pt.durojaiye@gmail.com" target="_blank">pt.durojaiye@gmail.com</a></p>
</div>
</div>
<div class="row justify-content-center mb-3">
 <div class="col-md-9 text-center">
<br>
     <p> This website was built by me using Django</p>
</div>
</div>
{% endblock %}